/*bg & text color selector*/ 

body{
    background-color: dimgrey;
    color:goldenrod;
}
/*affects all within the page*/
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px; 
    color: firebrick; 
}
/*shows what is at the bottom of the page*/
footer{
    text-align: center;
}

header{
    text-align: center;
}

/*gives table borders*/
table, th, td {
    font-family: sans-serif;
    border: 5px double black;
    margin-right: 600px;
    margin-left: auto;
    text-align: center;
    background-color: grey;
}

/*chages picture thang*/
#SilliestManAlive{
    margin-right: 300px;
    animation-duration: 0s;
    animation-name: shmoove;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shmoove {
    from{
        margin-right: 300px;
    }
    to {
        margin-left: 600px;
    }
}